<nav class="navbar navbar-expand-lg navbar-dark bg-dark fadeIn fast">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="home"><img class="logo" src="./assets/logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/personajes">Personajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="episodios">Episodios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="ubicaciones">Ubicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="juego"><i class="fas fa-gamepad" style="font-size: 1.5em;"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>