
<div class="text-center caja fadeIn fast">
  <br>
  <div class="display-1 texto">
    Rick y Morty Web
    <br>
  </div>
</div>

<div class="container fadeIn slow">
<div class="row justify-content-around">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img [src]="meeseek" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="text-center">
        <button class="btn btn-info" routerLink="/personajes">Personajes de la serie</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="./assets/episodio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="text-center">
        <button class="btn btn-info"routerLink="/episodios">Información de episodios</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="./assets/lugar.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <div class="text-center">
        <button class="btn btn-info"routerLink="/ubicaciones">Ubicaciones</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>